.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-dark);
    color: var(--color-primary);
    text-align: center;
    height: 50px;
}
