nav.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding: 10px 0;
}

.nav_box {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 1400px;
    gap: 1rem;
}

.nav_box > .link {
    width: fit-content;
}
