nav.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding: 10px 0;
}

.navbar > .nav_box {
    display: flex;
    flex-direction: column;

    width: 70%;
    max-width: 1000px;
    gap: 1rem;
}

.navbar > .nav_box > a {

}

