.pie-chart {
    color: inherit;
}

.pie-text_main > tspan {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
.pie-text_desc > tspan {
    font-size: 1em;
    text-align: center;    
}
