/* component */
.searchbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5);    
    border-bottom-left-radius: 10px;
    
}

/* input */
.searchbar > input {
    background-color: white;
    border: none;
    height: 30px;
}
.searchbar > input:focus {
    outline: none;
}
/* .searchbar > input:not(:focus) + .suggestions-box {
    display: none;
} */

/* box */
.searchbar > .suggestions-box {
    background-color: #fff;

    border-bottom-left-radius: 10px;
    
    height: fit-content;
    max-height: 310px;

    overflow-y: scroll;
}
.suggestions-box::-webkit-scrollbar {
    width: 5px;
    background: #333;
}
.suggestions-box::-webkit-scrollbar-thumb {
    height: 20px;
    background: #fff;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
}

/* suggestion */
.suggestion {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    background-color: #444;
    color: white;

    border-top: white 1px solid;
}
.suggestion:hover {
    background-color: #555;
}
.suggestion > div {
    display: flex;
    flex-direction: column;
}
.suggestion > div :nth-child(1) {
    font-weight: bold;
    font-size: 0.9em;
}
.suggestion > div :nth-child(2) {
    font-size: 0.8em;
    color: #999;
}
